################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/temp
/HackNJam2026/.vs/HackNJam2026/CopilotIndices/18.5.39187.10602
/HackNJam2026/.vs
/HackNJam2026/.vs/HackNJam2026.slnx/DesignTimeBuild/.dtbcache.v2
/HackNJam2026/Assets/Library
/HackNJam2026/Assets/Logs
/HackNJam2026/Assets/MobileDependencyResolver
/HackNJam2026/Assets/UserSettings
/HackNJam2026/Library
/HackNJam2026/Logs
/HackNJam2026/Temp
/HackNJam2026/UserSettings

HackNJam2026/.idea/

HackNJam2026/obj/
